{% extends 'basemain.html' %} {% load static %} {% block about %}
<title>Abhinav Anand | About</title>
<div id="about" style="min-height: 420px;">
    <div>
      <h1>About Me</h1>
    </div>
    <div class="me">
      <p>Hi there! I'm Abhinav Anand</p><br>
      <p>
        I am a hard working, honest individual. I am a good timekeeper, always willing to learn new skills. I am friendly, helpful and polite, have a good sense of humour. I am able to work independently in busy environments and also within a team setting. I am outgoing and tactful, and able to listen effectively when solving problems.I am a punctual and motivated individual who is able to work in a busy environment and produce high standards of work. I am an excellent team worker and am able to take instructions from all levels and build up good working relationships with all colleagues. I am flexible, reliable and possess excellent time keeping skills.
      </p>
    </div>
    <div>
      <h1>Skills</h1>
      <div class="skills">{% for data in skills %}
          <div class="progressbar">
            <svg
              class="progress"
              data-progress="{{data.progress}}"
              
              x="0px"
              y="0px"
              viewBox="0 0 80 80"
            >
              <path
                class="track"
                d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"
              />
              <path
                class="fill"
                style=
                  'stroke: red',
                d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"
              />
              <text class="value" x="50%" y="55%">
                {{data.progress}}%
              </text>
              <text class="text" x="50%" y="115%">
                {{data.skill}}
              </text>
            </svg>
          </div>{%endfor%}
      </div>
    </div>
    <div class="info">
      <div class="div30">
        <h1>Skill Highlights</h1>
        <ul>
          <li>Project management</li>
          <li>Highly organize</li>
          <li>Efficient</li>
          <li>Creative</li>
          <li>Innovative</li>
          <li>Service-focused</li>
        </ul> 
      </div>
      <div class="div30">
          <h1>Interests</h1>
          <ul>
              <li>Machine Learning</li>
              <li>Artificial Intelligence</li>
              <li>3D Animation</li>
              <li>Block Chain</li>
              <li>Architecture</li>
          </ul>
      </div>
      <div class="div30">
          <h1>Achievements</h1>
          <ul>
              <li><a href="https://drive.google.com/file/d/1J5Db4__K3Jr78oDd3PwP6-IMKyYVHckr/view?usp=sharing">Completed Python Full Stack Course – Ducat, Noida 
              </a></li>
              <li><a href="https://www.hackerrank.com/abhinavfu">Hackerrank achievements and certificate</a></li>
          </ul>
      </div>
    </div>
</div>
{%endblock%}