<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'mainApp/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainApp/style.css' %}" />
</head>
<body>
    <div id="pageup">
        <a href="#navbar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-up-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"
            />
          </svg>
        </a>
      </div>
    
    <nav id="navbar" class="navbar">
        <span><img src="../static/mainApp/logoabhi.png" alt=""></span>
        <span id="mainmenu"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg></span>
        <ul id="mainmenuitems">
          <li class="layout btn-nav">
            <a href="/">
              <p>Home</p>
            </a>
          </li>
          <li class="layout btn-nav">
            <a href="/#project" id="menuproject">
              <p>Project</p>
            </a>
          </li>
          <li class="layout btn-nav">
            <a href="{% url 'mainApp:aboutmainApp' %}">
              <p>About</p>
            </a>
          </li>
          <li class="layout btn-nav">
            <a href="{% url 'mainApp:contactmainApp' %}">
              <p>Contact</p>
            </a>
          </li>
          {% if user.is_superuser %}
          <li class="layout btn-nav">
            <a href="/abhinavfuadmin/">
              <p>Admin</p>
            </a>
          </li>
          <li class="layout btn-nav" style="width: auto;">
            <a href="/pages-views">
              <p>Pages Views</p>
            </a>
          </li>
          {%endif%}
        </ul>
    </nav>
    
    <div>{% block homemain %} {% endblock %}</div>
    <div>{% block about %} {% endblock %}</div>
    <div>{% block contact %} {% endblock %}</div>
      
    <div id="newsletter">
        <span class="curve"></span>
        <div>
            <h2>Feedback</h2>
            <p>
            Please feel free to give <a href="{% url 'contact' %}">feedback</a>  about my projects. I'll looking forward to hearing from you. <br><br> Thanks and regards. <br>Abhinav Anand</p>
        </div>
        <span class="curve2"></span>
    </div>
    <div id="footer">
      <br>
        <p>Copyright &copy; 2023 All Rights Reserved</p>
    </div>
</body>
<script>
  // -------------- menu ---------------
  var menubtn = document.getElementById("mainmenu");
  var menuproject = document.getElementById("menuproject");
  var menuitems = document.getElementById("mainmenuitems");
  
  function menu() {
    if (menuitems.style.display == "block") {
      menuitems.style.display = "none";
    } else {
      menuitems.style.display = "block";
    }
  };
  menubtn.onclick = ()=> menu()
  if (window.innerWidth < 600){
    menuproject.onclick = ()=> menu()
  }
</script>
</html>