{% extends 'basemain.html' %} {% load static %} {% block homemain %}
<title>Abhinav Anand | Home</title>
<style>
  .lamp{
        position:absolute;
        top: 70px;
        left:0;
        /* transform:translate(-50%,-50%); */
        width: 100vw;
        height: 100vh;
        z-index: -5;
        opacity: 0.2;
      }
      .glass{
        backdrop-filter: blur(5px);
        z-index: 2;
      }
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&display=swap');
</style>
<!-- <svg class="lamp" viewBox="-21 0 100 125">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="4" result="color-matrix-blur"></feGaussianBlur>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 22 -8" result="color-matrix-filter"></feColorMatrix>
      <feComposite in="SourceGraphic" in2="filter" operator="atop"></feComposite>
    </filter>
    <linearGradient id="glass" gradientTransform="rotate(0)">
      <stop offset="15%"  stop-color="rgba(255,255,255,0)" />
      <stop offset="95%" stop-color="rgba(255,255,255,0.3)" />
    </linearGradient>
  </defs>
  <g class="gloops" filter="url(#goo)">
    <ellipse rx="10%" ry="10%" class="circle" fill="rgb(0, 128, 128)">
      <animate attributeName="cx" values="80%; 0%; -80%" dur="18s" repeatCount="indefinite" />
      <animate attributeName="cy" values="80%; 20%; -90%" dur="17.2s" repeatCount="indefinite" keyTimes="0;0.6;1" />
      <animate attributeName="rx" values="7%; 4%; 7%" dur="11.4s" begin="-6" repeatCount="indefinite" />
      <animate attributeName="ry" values="7%; 4%; 7%" dur="19.4s" begin="-3" repeatCount="indefinite" />
      <animate attributeName="fill" values="rgb(0, 128, 128); rgb(0, 128, 128); rgb(0, 128, 128)" dur="20s" begin="-1" repeatCount="indefinite" />
    </ellipse>
    <ellipse r="10%" class="circle" fill="rgb(0, 128, 128)">
      <animate attributeName="cx" values="22%; 23%; 22%" dur="21.2s" begin="-8" repeatCount="indefinite" />
      <animate attributeName="cy" values="16%; 69%; 16%" dur="24.1s" begin="-12" repeatCount="indefinite" keyTimes="0;0.6;1" />
      <animate attributeName="rx" values="10%; 8%; 10%" dur="22.4s" begin="-2" repeatCount="indefinite" />
      <animate attributeName="ry" values="10%; 4%; 10%" dur="23.4s" begin="-4" repeatCount="indefinite" />
      <animate attributeName="fill" values="rgb(0, 128, 128); rgb(0, 128, 128); rgb(0, 128, 128)" dur="20s" begin="-1" repeatCount="indefinite" />
    </ellipse>
    <ellipse r="20%" class="circle" fill="rgb(0, 128, 128)">
      <animate attributeName="cx" values="-50%; 33%; 80%" dur="21.7s" begin="-6" repeatCount="indefinite" />
      <animate attributeName="cy" values="16%; 10%; 80%" dur="16.4s" begin="-9" repeatCount="indefinite" keyTimes="0;0.6;1" />
      <animate attributeName="rx" values="7%; 4%; 7%" dur="22.4s" begin="-4" repeatCount="indefinite" />
      <animate attributeName="ry" values="7%; 4%; 7%" dur="13.4s" begin="-5" repeatCount="indefinite" />
      <animate attributeName="fill" values="rgb(0, 128, 128); rgb(0, 128, 128); rgb(0, 128, 128)" dur="20s" begin="-1" repeatCount="indefinite" />
    </ellipse>
    <ellipse r="10%" class="circle" fill="rgb(0, 128, 128)">
      <animate attributeName="cx" values="-90%; 0%; 90%" dur="22.2s" begin="-10" repeatCount="indefinite" />
      <animate attributeName="cy" values="60%; 0%; 60%" dur="19.1s" begin="-8" repeatCount="indefinite" keyTimes="0;0.6;1" />
      <animate attributeName="rx" values="10%; 8%; 10%" dur="11.4s" begin="-4" repeatCount="indefinite" />
      <animate attributeName="ry" values="10%; 8%; 10%" dur="15.4s" begin="-6" repeatCount="indefinite" />
      <animate attributeName="fill" values="rgb(0, 128, 128); rgb(0, 128, 128); rgb(0, 128, 128)" dur="20s" begin="-1" repeatCount="indefinite" />
    </ellipse>
    <ellipse r="10%" class="circle" fill="rgb(0, 128, 128)">
      <animate attributeName="cx" values="-90%; 0%; 90%" dur="25s" begin="-3" repeatCount="indefinite" />
      <animate attributeName="cy" values="90%; 0%; 90%" dur="21s" begin="-7" repeatCount="indefinite" keyTimes="0;0.6;1" />
      <animate attributeName="rx" values="10%; 8%; 10%" dur="8.4s" begin="-10" repeatCount="indefinite" />
      <animate attributeName="ry" values="10%; 8%; 10%" dur="7.4s" begin="-2" repeatCount="indefinite" />
      <animate attributeName="fill" values="rgb(0, 128, 128); rgb(0, 128, 128); rgb(0, 128, 128)" dur="20s" begin="-1" repeatCount="indefinite" />
    </ellipse>
  </g>
</svg> -->
<div class="hero-section">
    <div id="my-info">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1442.5 700"><defs><style>.cls-1{fill:#00a99d;opacity:0.7;}.cls-2{font-size:200px;stroke-miterlimit:10;}.cls-2,.cls-6{fill:none;stroke:#000;stroke-width:5px;}.cls-2,.cls-4,.cls-5{font-family:MicrosoftSansSerif, Microsoft Sans Serif;}.cls-3{fill:#000;}.cls-4{font-size:60px;}.cls-5{font-size:42px;}.cls-6{stroke-linecap:round;stroke-linejoin:round;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="cls-1" cx="350" cy="350" r="350"/><text class="cls-2" transform="translate(237 420.21)">POR<tspan class="cls-3" x="433.4" y="0">TFOLIO</tspan></text><text class="cls-4" transform="translate(700 208.68)">Fullstack Developer</text><text class="cls-5" transform="translate(700 514.8)">By Abhinav Anand</text><polyline class="cls-6" points="1262.5 189.3 1440 189.3 1436.5 505.29 1084.5 501.8"/></g></g></svg>
    </div>
</div>
<div>
  <div id="project">
    <div class="laysec">
      {% for i in project %}
      <div class="layout btn-x">
        <a href="/#{{i.name}}">
          <p>{{i.name}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="projects">
    {% for i in project %}
    <div id="{{i.name}}" class="">
      <h1 style="padding: 10px; background-color: #467f7e; color: white;">{{i.name}}</h1>
      {% for j in i.projects %}
        <div class="project-c p-appear">
          <div class="project-img"><img src="../static/mainApp/{{j.image}}" alt="{{j.title}}" loading="lazy"></div>
          <div class="project-info">
            <h1>{{j.title}}</h1>
            <ul>
              {% for k in j.info %}
              <li>{{k}}</li>
              {% endfor %}
            </ul>
            <div class="center">
              <div class="layout">
                <a href="{{j.link}}" target="_blank"><p>View Project</p></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
        {% endfor %}
  </div>
</div>
{%endblock%}