{% extends 'basemain.html' %} {% load static %} {% block homemain %}
<title>Abhinav Anand | Home</title>

<div class="hero-section">
    <div id="my-info">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1442.5 700"><defs><style>.cls-1{fill:#00a99d;opacity:0.7;}.cls-2{font-size:200px;stroke-miterlimit:10;}.cls-2,.cls-6{fill:none;stroke:#000;stroke-width:5px;}.cls-2,.cls-4,.cls-5{font-family:MicrosoftSansSerif, Microsoft Sans Serif;}.cls-3{fill:#000;}.cls-4{font-size:60px;}.cls-5{font-size:42px;}.cls-6{stroke-linecap:round;stroke-linejoin:round;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="cls-1" cx="350" cy="350" r="350"/><text class="cls-2" transform="translate(237 420.21)">POR<tspan class="cls-3" x="433.4" y="0">TFOLIO</tspan></text><text class="cls-4" transform="translate(700 208.68)">Fullstack Developer</text><text class="cls-5" transform="translate(700 514.8)">By Abhinav Anand</text><polyline class="cls-6" points="1262.5 189.3 1440 189.3 1436.5 505.29 1084.5 501.8"/></g></g></svg>
    </div>
</div>
<div>
  <div id="project">
    <div class="laysec">
      {% for i in project %}
      <div class="layout btn-x">
        <a href="/#{{i.name}}">
          <p>{{i.name}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="projects">
    {% for i in project %}
    <div id="{{i.name}}" class="">
      <h1 style="padding: 10px; background-color: #467f7e; color: white;">{{i.name}}</h1>
      {% for j in i.projects %}
        <div class="project-c p-appear">
          <div class="project-img"><img src="../static/mainApp/{{j.image}}" alt="{{j.title}}" loading="lazy"></div>
          <div class="project-info">
            <h1>{{j.title}}</h1>
            <ul>
              {% for k in j.info %}
              <li>{{k}}</li>
              {% endfor %}
            </ul>
            <div class="center">
              <div class="layout">
                <a href="{{j.link}}" target="_blank"><p>View Project</p></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
        {% endfor %}
  </div>
</div>
{%endblock%}