{% extends 'blogBase.html' %} {% load static %} {% block blogforgetPasswordOTP %}
<div>
  <form action="" method="POST" class="min-height">
    {% csrf_token %}
    <div class="form">
      <div>
        <h1>Verify OTP</h1>
      </div>
      <div>To continue to Blog</div>
      {% for i in messages %}
      <div class="msg-error">{{i}}</div>
      {% endfor %}
      <div class="input-field">
        <label htmlFor="otp">Enter OTP</label>
        <input name="otp" type="otp" required id="otp" />
      </div>
      <div id="next">
        <button type="submit" class="btn">Verify OTP</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
