{% extends 'blogBase.html' %} {% block blog %}
{% block title %}
    <title>Blog | Edit Profile</title>
{%endblock%}
<div class="profileEdit">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form">
        <h1>Edit your profile information</h1>
        <div>
          <div class="input-field">
            <label htmlFor="name">Name</label>
            <input name="name" type="text" id="name" value="{{bloger.name}}"/>
          </div>
        </div>
        <div>
          <div class="input-field">
            <label htmlFor="bio">Write something about yourself</label>
            <input name="bio" type="text" id="bio" value="{{bloger.bio}}"/>
          </div>
          <div class="input-field">
            <label htmlFor="pic">Upload Profile Picture</label>
            <input name="pic" type="file" id="pic" value="{{bloger.pic}}"/>
          </div>
        </div>
        <div><button type="submit">Edit Profile</button></div>
      </div>
    </form>
  </div>
{%endblock%}