{% extends 'blogBase.html' %} {% block blog %}
{% block title %}
    <title>Blog | Signin</title>
{%endblock%}
<div class="bg">
    <form action="" method="POST" class="min-height">
      {% csrf_token %}
      <div class="form">
        <div>
          <h1>Sign in</h1>
        </div>
        <div>To continue to Blog</div>
        {% for i in messages %}
          <div class="msg-error">{{i}}</div>
        {% endfor %}
        <div class="input-field">
          <label htmlFor="username">E-mail I'd or Username</label>
          <input name="username" type="text" id="username" required />
        </div>
        <div class="input-field">
          <label htmlFor="password">Password</label>
          <input name="password" type="password" required id="password" />
        </div>
        <div>
          <input type="checkbox" onClick="showPassword()" id="checkbox" />
          <span onClick="showPassword()">Show password</span>
        </div>
        <div id="next">
          <button type="submit" class="btn">Log In</button>
          <a href="{% url 'blogforgetPassword' %}">Forget Password ?</a>
        </div>
        <br>
        <a class="btn guest" href="{% url 'blogGuest' 1 %}">Sign-in as Guest</a>
        <br> <br>
        <div style="padding: 10px 0px">
          Don't have an account? <a href="{% url 'blogsignup' %}">Create account</a>
        </div>
      </div>
    </form>
  </div>
  
  <script>
    // Show password
    let password = document.getElementById("password");
    let checkbox = document.getElementById("checkbox");
    function showPassword() {
      if (checkbox !== null) {
        checkbox.checked = true;
        if (password.type === "password") {
          password.type = "text";
          checkbox.checked = true;
        } else {
          password.type = "password";
          checkbox.checked = false;
        }
      }
    }
  </script>
{%endblock%}
