{% extends 'blogBase.html' %} {% block blog %}
{% block title %}
    <title>Blog | Reset Password</title>
{%endblock%}
<div class="bg">
  <form action="" method="POST" class="min-height">
    {% csrf_token %}
    <div class="form">
      <div>
        <h1>Reset Password</h1>
      </div>
      <div>To continue to Blog</div>
      {% for i in messages %}
      <div class="msg-error">{{i}}</div>
      {% endfor %}
      <div>{{username}}</div>
      <div class="input-field">
        <label htmlFor="password">New Password</label>
        <input name="password" type="password" required id="password" />
      </div>
      <div class="input-field">
        <label htmlFor="rpassword">Re-Password</label>
        <input name="rpassword" type="password" required id="rpassword" />
      </div>
      <div id="next">
        <button type="submit" class="btn">Reset Password</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
