{% extends 'blogBase.html' %} {% block blog %}
{% block title %}
    <title>Blog | Forget Password</title>
{%endblock%}
<div>
  <form action="" method="POST" class="min-height">
    {% csrf_token %}
    <div class="form">
      <div>
        <h1>Forget Password</h1>
      </div>
      <div>To continue to Blog</div>
      {% for i in messages %}
      <div class="msg-error">{{i}}</div>
      {% endfor %}
      <div class="input-field">
        <label htmlFor="username">E-mail I'd or Username</label>
        <input name="username" type="text" id="username" required />
      </div>
      <div id="next">
        <button type="submit" class="btn">Send OTP</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
