{% extends 'base.html' %} {% block page %}
{% block title %}
<title>E-Shop | Address</title>
{%endblock%}
<div class="addressSec" class="min-height" style="min-height: 500px">
  <div class="address" style="margin: 0px 30px;">
    <a class="btn btn-blue" href="{% url 'addAddress' %}">Add New Address</a>
  </div>
  {% if address|length > 0 %}
  <div class="addressinfo">
    {% for i in address %}
    <div class="address">
      <div>Name : {{i.name}}</div>
      <div>Phone : {{i.phone}}</div>
      <div>Country: {{i.country}}</div>
      <div>Address : {{i.address1}}</div>
      <div>Area : {{i.address2}}</div>
      <div>Landmark : {{i.landmark}}</div>
      <div>City : {{i.city}}</div>
      <div>State : {{i.state}}</div>
      <div>Pincode : {{i.pincode}}</div>
      <div>Address type : {{i.addresstype}}</div>

      <div class="editP">
          <a class="btn btn-green" href="{% url 'editAddress' i.id %}">Edit</a>
        <button class="btn btn-blue dropdown-btn" onclick="toggle(1)">
          Delete
        </button>
        <div class="dropdown-container">
          <h4>Do you want to delete this address ?</h4>
          <div>
            <a class="btn btn-red" href="{% url 'delAddress' i.id %}">Delete</a>
            <a class="btn btn-blue" href="{% url 'userAddress' %}">Cancel</a>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  {% else %}
  <div class="noitem">
    <h3>
      No address to display. <br />
      Add address.
    </h3>
  </div>
  {% endif %}
</div>
{%endblock%}
