{% extends 'base.html' %} {% block page %}
{% block title %}
<title>E-Shop | Confirm Order</title>
{%endblock%}
<div class="confirmOrder">
  {% if address %}
  <div>
    <h1><center>Your order summary</center></h1>
    <hr />
  </div>
    {% for i in address %}
    <div class="address">
      <div>
        <h2>Your order address</h2>
        <hr />
      </div>
      <div>Name : {{i.name}}</div>
      <div>Phone : {{i.phone}}</div>
      <div>Country: {{i.country}}</div>
      <div>Address : {{i.address1}}</div>
      <div>Area : {{i.address2}}</div>
      <div>Landmark : {{i.landmark}}</div>
      <div>City : {{i.city}}</div>
      <div>State : {{i.state}}</div>
      <div>Pincode : {{i.pincode}}</div>
      <div>Address type : {{i.addresstype}}</div>
      <div><br><br><a class="btn btn-green" href="{% url 'userAddress' %}">Change address</a></div>
    </div>
    {%endfor%}
  <div class="cart-items">
    <div><h2>Your Orders</h2></div>
    <table>
      <thead>
        <tr>
          <th style="width: 100px">Item</th>
          <th class="cart-name">Name</th>
          <th style="width: 100px">Price</th>
          <th style="width: 150px">Quantity</th>
          <th style="width: 100px">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {% for data in cart %}
        <tr>
          <td>
            <div class="cart-img">
              {% if data.image %}
              <img src="{{data.image}}" alt="product item" loading="lazy"/>
              {% else %}
              <img src="/static/images/No_image.png" alt="" loading="lazy"/>
              {% endif %}
            </div>
          </td>
          <td>{{data.name}}</td>
          <td>{{currency}}{{data.promotion_price}}</td>
          <td>{{data.quantity}}</td>
          <td>{{currency}}{{data.subtotal}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="cart-mob">
    {% for data in cart %}
    <div class="cart-c">
      <div class="cart-img">
        {% if data.image %}
        <img src="{{data.image}}" alt="product item" loading="lazy"/>
        {% else %}
        <img src="/static/images/No_image.png" alt="" loading="lazy"/>
        {% endif %}
      </div>
      <div>
        <div style="color: #7c5b47">{{data.name}}</div>
        <div>Price : {{currency}}{{data.promotion_price}}</div>
        <div class="cart-btn">
          {% if data.quantity > 1 %}
          <a class="cart-remove" href="{% url 'cartUpdate' data.id -1 %}"
            >-</a
          >
          {% else %}
          <a class="cart-remove" href="#">-</a>
          {%endif%}
          <div class="cart-quantity">{{data.quantity}}</div>
          <a class="cart-add" href="{% url 'cartUpdate' data.id 1 %}">+</a>
        </div>
        <div>Subtotal : {{currency}}{{data.subtotal}}</div>
        <div class="cart-del">
          <a href="{% url 'cartDelete' data.id %}">RE</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="cart-amount">
    <h3>Summary</h3>
    <hr />
    <h5>Estimate Shipping and Tax</h5>
    <hr />
    <div class="amount-total">
      <p>Subtotal</p>
      <p>{{currency}}{{payment.subtotal}}</p>
    </div>
    <div class="amount-total">
      <p>Shipping</p>
      <p>{{currency}}{{payment.shipping}}</p>
    </div>
    <div class="amount-total">
      <p>Tax (8%)</p>
      <p>{{currency}}{{payment.tax}}</p>
    </div>
    <div class="amount-total">
      <p>Offer Applied (10%)</p>
      <p>{{currency}}-offer</p>
    </div>
    <hr />
    <div class="amount-total">
      <h4>Order Total</h4>
      <h4>{{currency}}{{payment.ordertotal}}</h4>
    </div>
    <hr />
    <div>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-field">
          <select name="paymentmethod" id="paymentmethod">
            {% for i in paymentmethod %}
            <option value="{{i}}">{{i}}</option>
            {%endfor%}
          </select>
          <label htmlFor="paymentmethod">Payment Method</label>
        </div>
        <div>
          <button type="submit" class="btn btn-blue">Checkout Order</button>
        </div>
      </form>
    </div>
  </div>
  {%else%}
  <div>
    <p style="padding: 20px 0px">
      You have no address. Please add an address first to proceed further.
    </p>
    <span>
      <a href="{% url 'userAddress' %}" class="btn btn-blue">Go to address</a>
    </span>
  </div>
  {%endif%}
</div>
{% endblock %}
