{% extends 'todobase.html' %}{% block page %}
{% block title %}<title>Todo | Home</title>{%endblock%}

<div>
    <div class="fixed"><a href="{% url 'todoCreate' %}">+</a></div>
    <div class="todo-container">
        <h1>Todo list</h1>
        {% for i in todo %}
        <div class="todos">
            <span class="todo-done">
                <form action="" method="POST" class="donesubmit" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if i.is_done %}
                    <input type="checkbox" id="done" name="done" checked onclick="event.preventDefault();this.closest('form').submit();"/>
                    {%else%} 
                    <input type="checkbox" id="done" name="done" onclick="event.preventDefault();this.closest('form').submit();"/>
                    {%endif%}
                    <input name="uid" type="text" id="uid" value="{{i.uid}}" style="display: none;"/>
                </form>
            </span>
            <div class="todo-info">
                <div class="dropdown-btn" onclick="toggle(1)">
                    <h2><a href="{% url 'todoUpdate' i.uid %}">{{i.todo_title}}</a></h2>
                </div>
                <div class="dropdown-container"><p  class="todo-desc"><a href="{% url 'todoUpdate' i.uid %}">{{i.todo_description}}</a></p></div>
            </div>
            <span class="todo-del"><a href="{% url 'todoDelete' i.uid %}"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"/></svg></a></span>
        </div>
        {%empty%}
        <p class="todos">There is no Todo</p>
        {%endfor%}
    </div>
</div>
<div>
    <div class="todo-container">
        <h1>Completed</h1>
        {% for i in todoCompleted %}
        <div class="todos fade">
            <span class="todo-done">
                <form action="" method="POST" class="donesubmit" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if i.is_done %}
                    <input type="checkbox" id="done" name="done" checked onclick="event.preventDefault();this.closest('form').submit();"/>
                    {%else%} 
                    <input type="checkbox" id="done" name="done" onclick="event.preventDefault();this.closest('form').submit();"/>
                    {%endif%}
                    <input name="uid" type="text" id="uid" value="{{i.uid}}" style="display: none;"/>
                </form>
            </span>
            <div class="todo-info">
                <div class="dropdown-btn" onclick="toggle(1)">
                    <h2><a href="{% url 'todoUpdate' i.uid %}"><del>{{i.todo_title}}</del></a></h2>
                </div>
                <div class="dropdown-container"><p  class="todo-desc"><a href="{% url 'todoUpdate' i.uid %}"><del>{{i.todo_description}}</del></a></p></div>
            </div>
            <span class="todo-del"><a href="{% url 'todoDelete' i.uid %}"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"/></svg></a></span>
        </div>
        {%empty%}
        <p class="todos">There is no completed Todo's</p>
        {%endfor%}
    </div>
</div>
{%endblock%}