* {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: whitesmoke;
}
a {
  text-decoration: none;
}
.container {
  margin: 0px 10%;
}
.div50 {
  width: 50%;
}
/* dropdown */
.dropdown-btn {
  display: block;
  cursor: pointer;
}
.dropdown-container {
  display: none;
  padding-left: 8px;
  position: relative;
  top: 0px;
  margin-top: 5px;
  background-color: #388d5d;
  color: white;
}
/* -------------- Nav ------------- */
nav {
  background-color: antiquewhite;
}
nav .container {
  display: flex;
  padding: 5px 0px;
}
.navlogo {
  padding: 10px 0px;
}
.navlink {
  display: flex;
  justify-content: right;
}
.navlink ul {
  display: flex;
  padding: 10px 0px;
  margin: 0px 10px;
  list-style: none;
}
.navlink ul li {
  margin: 0px 10px;
}
/* -------------- Home ------------ */
.home {
  padding: 30px 0px;
}
form > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
button[type="submit"],
input {
  width: 400px;
  cursor: pointer;
}
img {
  width: 400px;
  height: auto;
}
.yresult {
  text-align: center;
  color: whitesmoke;
  background-color: #1496bb;
  margin: 15px 0px;
  padding: 10px;
  font-size: larger;
}
.ylink {
  padding: 10px;
}
.ylink input {
  width: 50%;
  padding: 15px;
}
.ylink button {
  background-color: antiquewhite;
  padding: 10px;
}
.yinfo {
  display: flex;
  text-align: center;
}
.yinfo div {
  padding: 10px;
  justify-content: center;
}
.yinfo h2,
.yinfo img {
  padding: 10px 0px;
}
.yinfo ul {
  padding: 10px;
  list-style: none;
}
.yinfo ul li {
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid black;
  background-color: beige;
}
.yinfo ul li a {
  width: 100%;
}
.ycomplete {
  padding: 20px;
  text-align: center;
}

/* ------- Media Devices ------- */
@media only screen and (max-width: 600px) {
  img,
  .ylink input,
  .div50 {
    width: 100%;
  }
  .yinfo {
    display: block;
  }
  .yinfo div {
    padding: 0px;
  }
  .yinfo ul li {
    margin: 10px 0px;
  }
}
