{% extends 'base.html' %} {% load static %} {% block activateSeller %}
<div class="activateSeller min-height">
  <h1>Activate Seller Account</h1>
  <br />
  <p>New Seller account will be created once approved.</p>

  <div>
    {% if sa.sellerstatus == 'Requested' %}
    <div>
      <p>
        When Seller account activation request will be approved. You will get a
        link to create seller account.
      </p>
      <br />
      <p>Current Status <br />-----------------------------------------</p>
      <ul>
        <li>Name : {{sa.buyer.name}}</li>
        <li style="color: #26a541">Status : {{sa.sellerstatus}}</li>
        <li>Aadhar Card : {{sa.aadharcard}}</li>
        <li>PAN Card : {{sa.pancard}}</li>
      </ul>
      <br />
      <p>
        Thanks <br />
        Team Eshop
      </p>
    </div>
    {% elif sa.sellerstatus == 'Approved' %}
    <div>
      <div>You have been Approved for creating a new Seller Account</div>
      <button class="btn-cart">
        <a href="{% url 'signup' %}">Create Seller Account</a>
      </button>
    </div>
    {% else %} {% if sa.sellerstatus == 'Rejected' %}
    <div>Your Credentials not match properly. Try again</div>
    {%endif%}
    <p>Would you like to continue ?</p>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div id="add-address">
        <div>Add your credentials for verification</div>
        <div class="input-field">
          <input name="aadharcard" type="text" id="aadharcard" required />
          <label htmlFor="aadharcard">Aadhar Card Number</label>
        </div>
        <div class="input-field">
          <input name="pancard" type="text" id="pancard" required />
          <label htmlFor="pancard">PAN Card Number</label>
        </div>

        <div id="next">
          <button type="submit" class="btn-search">
            Apply for Verification
          </button>
        </div>
      </div>
    </form>
    {%endif%}
  </div>
</div>
{%endblock%}
