{% extends 'base.html' %} {% load static %} {% block editproduct %}
<h2>Edit Product here</h2>
<br>
<a class="btn-cart" href="{% url 'productInfo' d.id %}">View product</a>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div id="edit-product" class="product-container">
    <div class="img-container">
      <div id="next">
        <button type="submit" class="btn-search">
          Update Product information
        </button>
      </div>
      <div>
        <h3>Add Images</h3>
        <div class="input-field">
          <input name="pic1" type="file" id="pic1" />
          <label htmlFor="pic1">pic1</label>
        </div>
        <div class="input-field">
          <input name="pic2" type="file" id="pic2" />
          <label htmlFor="pic2">pic2</label>
        </div>
        <div class="input-field">
          <input name="pic3" type="file" id="pic3" />
          <label htmlFor="pic3">pic3</label>
        </div>
        <div class="input-field">
          <input name="pic4" type="file" id="pic4" />
          <label htmlFor="pic4">pic4</label>
        </div>
      </div>
    </div>
    <div class="p-detail">
      <div class="input-field">
        <select name="mainCat" id="mainCat">
          {% for i in mainCat %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
        <label htmlFor="mainCat">Main Category</label>
      </div>
      <div class="input-field">
        <select name="subCat" id="subCat">
          {% for i in subCat %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
        <label htmlFor="subCat">Sub Category</label>
      </div>
      <div class="input-field">
        <select name="stock" id="stock">
          <option value="In Stock">In Stock</option>
          <option value="Out of Stock">Out of Stock</option>
        </select>
        <label htmlFor="stock">stock</label>
      </div>
      <div class="input-field">
        <select name="brand" id="brand">
          {% for i in brand %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
        <label htmlFor="brand">Brand</label>
      </div>
      <div class="input-field">
        <input
          name="name"
          type="text"
          id="name"
          required
          value="{{d.name}}"
        />
        <label htmlFor="name">Name</label>
      </div>
      <div class="input-field">
            <input
              name="price"
              type="number"
              id="price"
              required
              value="{{d.price}}"
            />
            <label htmlFor="price">price</label>
      </div>
      <div class="input-field">
          <input
            name="discount"
            type="number"
            id="discount"
            required
            value="{{d.discount}}"
          />
          <label htmlFor="discount">discount in %</label>
      </div>
      <div class="input-field">
        <input
          name="color"
          type="text"
          id="color"
          required
          value="{{d.color}}"
        />
        <label htmlFor="color">color</label>
      </div>
      <div class="input-field">
        <input name="size" type="text" id="size" required value="{{d.size}}" />
        <label htmlFor="size">size</label>
      </div>

      <div class="p-offer-section">
        <h3>Coupons for you</h3>
        <ul>
          <li>
            <span class="p-offers">Special Price</span>
            <span>Get extra 10% off upto ₹100 on 2 item(s)</span>
            <span class="p-termscondition">T&C</span>
          </li>
        </ul>
        <h3>Available offers</h3>
        <ul>
          <li>
            <span class="p-offers">Special Price</span>
            <span>Get extra 25% off (price inclusive of discount)</span>
            <span class="p-termscondition">T&C</span>
          </li>
          <li>
            <span class="p-offers">Bank Offer</span>
            <span>
              10% off on ICICI Bank Cards, up to ₹300. On orders of ₹1750 and
              above
            </span>
            <span class="p-termscondition">T&C</span>
          </li>
          <li>
            <span class="p-offers">Bank Offer</span>
            <span>
              10% Instant Discount on RBL Bank Credit and Debit Cards
            </span>
            <span class="p-termscondition">T&C</span>
          </li>
          <li>
            <span class="p-offers">Bank Offer</span>
            <span>
              5% Unlimited Cashback on Flipkart Axis Bank Credit Card
            </span>
            <span class="p-termscondition">T&C</span>
          </li>
          <li>
            <span class="p-offers">No cost EMI ₹1,974/month.</span>
            <span>Standard EMI also available</span>
            <span class="p-termscondition">View Plans</span>
          </li>
          <li>
            <span class="p-offers">Bank Offer</span>
            <span>
              15% Instant discount on first Pay Later order of ₹500 and above
            </span>
            <span class="p-termscondition">T&C</span>
          </li>
          <li>
            <span class="p-offers">Bank Offer</span>
            <span>
              10% Off on First time ICICI Bank Mastercard Credit Card
              transaction, TnC Applicable
            </span>
            <span class="p-termscondition">T&C</span>
          </li>
        </ul>
      </div>

      <div><h3>Product Details</h3></div>
      <div class="input-field">
        <input
          name="description"
          id="description"
          required
          value="{{d.description}}"
        ></input>
        <label htmlFor="description">description</label>
      </div>
    </div>
  </div>
</form>

{% endblock %}
