{% extends 'base.html' %} {% load static %} {% block forgetPassword %}
<div>
  <form action="" method="POST" class="min-height">
    {% csrf_token %}
    <div id="signin">
      <div>
        <h1>Forget Password</h1>
      </div>
      <div>To continue to Shop</div>
      {% for i in messages %}
      <div class="msg-error">{{i}}</div>
      {% endfor %}
      <div class="input-field">
        <input name="username" type="text" id="username" required />
        <label htmlFor="username">E-mail I'd or Username</label>
        <p id="usererror" class="error"></p>
      </div>
      <div id="next">
        <button type="submit" class="btn-cart">Send OTP</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
