{% extends 'base.html' %} {% load static %} {% block forgetPasswordOTP %}
<div class="bg">
  <form action="" method="POST" class="min-height">
    {% csrf_token %}
    <div id="signin">
      <div>
        <h1>Verify OTP</h1>
      </div>
      <div>To continue to Shop</div>
      {% for i in messages %}
      <div class="msg-error">{{i}}</div>
      {% endfor %}
      <div class="input-field">
        <input name="otp" type="otp" required id="otp" />
        <label htmlFor="otp">Enter OTP</label>
      </div>
      <div id="next">
        <button type="submit" class="btn-search">Verify OTP</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
