{% extends 'base.html' %} {% load static %} {% block forgetPasswordReset %}
<div>
  <form action="" method="POST" class="min-height">
    {% csrf_token %}
    <div id="signin">
      <div>
        <h1>Reset Password</h1>
      </div>
      <div>To continue to Shop</div>
      {% for i in messages %}
      <div class="msg-error">{{i}}</div>
      {% endfor %}
      <div>{{username}}</div>
      <div class="input-field">
        <input name="password" type="password" required id="password" />
        <label htmlFor="password">New Password</label>
        <p id="npasserror" class="error"></p>
      </div>
      <div class="input-field">
        <input name="rpassword" type="password" required id="rpassword" />
        <label htmlFor="rpassword">Re-Password</label>
        <p id="rpasserror" class="error"></p>
        <p id="matcherror" class="error"></p>
      </div>
      <div id="next">
        <button type="submit" class="btn-cart">Reset Password</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
