{% extends 'base.html' %} {% load static %} {% block home %}
<div class="container">
  <h1>Clothing</h1>
  <p>Showing {{product.count}} items</p>
  <div class="d-flex">
    {% for data in product %}
    <div class="content">
      <a href="{% url 'productInfo' data.id %}">
        <div class="img-box">
          {% if data.pic1 %}
          <img src="{{data.pic1.url}}" alt="image of {{data.name}}" />
          {% else %}
          <img src="/static/images/No_image.png" alt="" />
          {% endif %}
        </div>
        <h4>{{data.name}}</h4>
        <div class="pricebox">
          <div class="price1">{{currency}} {{data.promotion_price}}</div>
          <div class="price2">
            <del> {{currency}} {{data.price}}</del>
          </div>
          <div class="discount">{{data.discount}}% off</div>
        </div>
        <p>No Cost EMI</p>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="viewContainer">
    <button class="view btn">View more</button>
  </div>
</div>
{% endblock %}
