{% load static %}
<nav class="navbar glass">
  <div class="logo">
    <a href="{% url 'home' %}">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 351 173"
      >
        <path
          class="cls-1"
          d="M61,122.5H213.34a27.75,27.75,0,0,0,25.13-16L279,20.26A22.17,22.17,0,0,1,299.07,7.5H344"
        />
        <path
          class="cls-1 cls-c"
          d="M207.48,88l-130.93.9A31.77,31.77,0,0,1,51.87,77.38L28.18,48.75,10.18,27A11.6,11.6,0,0,1,19.12,8H254.48"
        />
        <line class="cls-1 cls-c" x1="228.48" y1="49" x2="28.48" y2="49" />
        <circle class="cls-2" cx="202.48" cy="155" r="13" />
        <circle class="cls-2" cx="86.48" cy="155" r="13" />
      </svg>
    </a>
  </div>
  <ul class="menuitems" id="menuitems">
    <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="nav-item">
      <a href="{% url 'shop' 'All' 'All' 'All' %}">Shop</a>
    </li>
    <li class="nav-item"><a href="#">Contact Us</a></li>
    <li class="nav-item"><a href="/">Projects</a></li>
  </ul>
  <div class="f-left">
    <form
      action="{% url 'search' %}"
      method="GET"
      enctype="multipart/form-data"
    >
      <input
        id="search"
        name="search"
        class="form-control"
        type="search"
        placeholder="Search"
        list="suggest-list"
      />
      <button class="btn-search" type="submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </button>
    </form>
    <button class="btn-search menu" id="menu">MENU</button>
    {% if checkU == 'buyer' or checkU == 'user'%}
    <button class="btn-cart" id="menucart">
      <a href="{% url 'cart' %}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-cart3"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
          />
        </svg>
        {% if request.user.is_authenticated %} {% if cart|length > 0 %}
        <div id="cc" class="cart-count">{{cart|length}}</div>
        {%else%} {%endif%} {%endif%}
      </a>
    </button>
    {%else%} {%endif%}
    <div id="menuitem2">
      {% if request.user.is_authenticated %}
      <a class="btn-search dropdown-btn" onclick="toggle(1)"
        >{{ request.user }}</a
      >
      <div class="dropdown-container">
        <ul>
          <li class="btn-cart">
            <a href="{% url 'userprofile' %}">Profile</a>
          </li>
          <li class="btn-del"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
      {%else%}
      <a class="btn-search" href="{% url 'signin' %}">SignIn</a>
      {%endif%}
    </div>
  </div>
</nav>
