{% extends 'base.html' %}{%load cart%}{%load static%} {%block orderEdit%}
<div class="orders">
  <div class="orderitem">
    <table>
      <tr>
        <th>Payment id</th>
        <td>{{orders.id}}</td>
      </tr>
      <tr>
        <th>Buyer</th>
        <td>{{orders.buyer}}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>
          {{orders.address.address1}}, {{orders.address.address2}},
          {{orders.address.country}}
        </td>
      </tr>
      <tr>
        <th>Subtotal</th>
        <td>{{orders.subtotal}}</td>
      </tr>
      <tr>
        <th>Shipping</th>
        <td>{{orders.shipping}}</td>
      </tr>
      <tr>
        <th>Order Total</th>
        <td>{{orders.ordertotal}}</td>
      </tr>
      <tr>
        <th>Payment Method</th>
        <td>{{orders.paymentmethod}}</td>
      </tr>
      <tr>
        <th>Order Payment Status</th>
        <td>{{orders.paymentstatus}}</td>
      </tr>
      <tr>
        <th>Order Status</th>
        <td>{{orders.orderstatus}}</td>
      </tr>
      {% if checkU == 'seller' %}
      <tr>
        <th>Update Order Status</th>
        <td>
          <form action="" method="POST">
            {% csrf_token %}
            <div class="input-field">
              <select name="orderstatus" id="orderstatus">
                <option value="Not Packed">Not Packed</option>
                <option value="Dispatched">Dispatched</option>
                <option value="Out For Delivery">Out For Delivery</option>
                <option value="Delivered">Delivered</option>
              </select>
            </div>
            <div id="submit">
              <button type="submit" class="btn-search">Update Status</button>
            </div>
          </form>
        </td>
      </tr>
      {%endif%}
      <tr>
        <th>Order Date</th>
        <td>{{orders.date}}</td>
      </tr>
    </table>
    <div>
      <div class="cart-items">
        <table>
          <thead>
            <tr>
              <th style="width: 100px">Item</th>
              <th class="cart-name">Name</th>
              <th style="width: 100px">Price</th>
              <th style="width: 150px">Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for j in request|checkoutProducts:orders.id %}
            <tr>
              <td>
                <a href="{% url 'productInfo' j.product.id %}">
                  <div class="cart-img">
                    {% if j.product.pic1 %}
                    <img src="{{j.product.pic1.url}}" alt="product item" />
                    {% else %}
                    <img src="/static/images/No_image.png" alt="" />
                    {% endif %}
                  </div>
                </a>
              </td>
              <td>{{j.product}}</td>
              <td>{{j.product.promotion_price}}</td>
              <td>{{currency}}{{j.q}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{%endblock%}
