{% extends 'base.html' %} {% load static %} {% block payment %}
<div class="payment">
  {% if 'Cash On Delivery (COD)' == paymentmethod %}
  <div class="pay-method">
    <div>Cash On Delivery (COD)</div>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="input-field" style="display: none">
        <input
          name="paymentmethod"
          id="paymentmethod"
          type="text"
          value="Cash On Delivery (COD)"
        />
      </div>
      <div>
        <button type="submit" class="pay-btn">
          Proceed to pay {{currency}}{{ordertotal}}
        </button>
      </div>
    </form>
  </div>
  {% elif 'Credit Card' == paymentmethod %}
  <div class="pay-method">
    Credit card
    <form class="pay-card">
      <div class="input-field">
        <input type="text" name="card-name" id="card-name" required />
        <label htmlFor="card-name">Card Holder Name</label>
        <p id="name-error" class="error"></p>
      </div>
      <div class="input-field">
        <input type="number" name="card-number" id="card-number" required />
        <label htmlFor="card-number">Card Number</label>
        <p id="card-error" class="error"></p>
      </div>
      <div class="input-field">
        <input
          type="text"
          name="card-date"
          id="card-date"
          placeholder=""
          required
        />
        <label htmlFor="card-date">Expiry Date</label>
        <p id="date-error" class="error"></p>
      </div>
      <div class="input-field">
        <input type="number" name="card-cvv" id="card-cvv" required />
        <label htmlFor="card-cvv">CVV</label>
        <p id="cvv-error" class="error"></p>
      </div>
      <button type="submit" class="pay-btn">
        Proceed to pay {{currency}}{{ordertotal}}
      </button>
    </form>
  </div>
  {% elif 'Debit Card' == paymentmethod %}
  <div>Debit Card</div>
  {% elif 'UPI' == paymentmethod %}
  <div>UPI</div>
  {%endif%}
  <div class="pay-amount">
    Your order on e-shop.com
    <div>
      <h3>TO PAY</h3>
      <div class="amount">{{currency}}{{ordertotal}}</div>
    </div>
  </div>
</div>
{% endblock %}
