{% extends 'base.html' %} {% load static %} {% block signup %}
<div class="bg">
  {% for i in messages %}
  <div class="msg-error">{{i}}</div>
  {% endfor %}
  <form action="" method="POST">
    {% csrf_token %}
    <div id="signup">
      <div>
        <h1>Create your account</h1>
      </div>
      <div>To continue to Shop</div>
      <div class="input-field">
        <input name="fname" type="text" required id="fname" />
        <label htmlFor="fname">First name</label>
        <p id="fnameerror" class="error"></p>
      </div>
      <div class="input-field">
        <input name="lname" type="text" required id="lname" />
        <label htmlFor="lname">Last name</label>
        <p id="lnameerror" class="error"></p>
      </div>
      <div class="input-field">
        <input name="email" type="email" required id="email" />
        <label htmlFor="email">E-mail I'd</label>
        <p id="usererror" class="error"></p>
      </div>
      <div class="input-field" style="display: none">
        <select name="user" id="user">
          {% if checkU == 'buyer' %}
          <option value="Seller">Seller</option>
          {%else%}
          <option value="Buyer">Buyer</option>
          {%endif%}
        </select>
      </div>
      <div class="input-field">
        <input name="password" type="password" required id="password" />
        <label htmlFor="password">New Password</label>
        <p id="npasserror" class="error"></p>
      </div>
      <div class="input-field">
        <input name="rpassword" type="password" required id="rpassword" />
        <label htmlFor="rpassword">Re-Password</label>
        <p id="rpasserror" class="error"></p>
        <p id="matcherror" class="error"></p>
      </div>
      <div>
        <input type="checkbox" onClick="showPassword()" id="checkboxnew" />
        <span onClick="showPassword()">Show password</span>
      </div>
      <div id="submit">
        {% if checkU == 'buyer' %} {%else%}
        <a class="btn-cart" href="{% url 'signin' %}">Sign In instead</a>
        {%endif%}
        <button type="submit" class="btn-search">Sign up</button>
      </div>
    </div>
  </form>
</div>

<script>
  // Show password
  let password = document.getElementById("password");
  let repassword = document.getElementById("rpassword");

  let checkbox = document.getElementById("checkboxnew");

  function showPassword() {
    if (checkbox !== null) {
      checkbox.checked = true;
      if (password.type === "password" || repassword.type === "password") {
        password.type = "text";
        repassword.type = "text";
        checkbox.checked = true;
      } else {
        password.type = "password";
        repassword.type = "password";
        checkbox.checked = false;
      }
    }
  }
</script>

{% endblock %}
