{% extends 'base.html' %} {% load static %} {% block signin %}
<div class="bg">
  {% for i in messages %}
  <div class="msg-error">{{i}}</div>
  {% endfor %}
  <form action="" method="POST" class="min-height">
    {% csrf_token %}
    <div id="signin">
      <div>
        <h1>Sign in</h1>
      </div>
      <div>To continue to Shop</div>
      <div class="input-field">
        <input name="username" type="text" id="username" required />
        <label htmlFor="username">E-mail I'd or Username</label>
        <p id="usererror" class="error"></p>
      </div>
      <div class="input-field">
        <input name="password" type="password" required id="password" />
        <label htmlFor="password">Password</label>
        <p id="passerror" class="error"></p>
      </div>
      <div>
        <input type="checkbox" onClick="showPassword()" id="checkbox" />
        <span onClick="showPassword()">Show password</span>
      </div>
      <div id="next">
        <button type="submit" class="btn-search">Log In</button>
      </div>
      <div style="padding: 10px 0px">
        <a class="btn-cart" href="{% url 'signup' %}">Create account</a>
        <a class="btn-cart" href="{% url 'forgetPassword' %}"
          >Forget Password</a
        >
      </div>
      <a class="btn-search" href="{% url 'guest' 1 %}">Sign-in as Guest</a>
    </div>
  </form>
</div>

<script>
  // Show password
  let password = document.getElementById("password");
  let checkbox = document.getElementById("checkbox");
  function showPassword() {
    if (checkbox !== null) {
      checkbox.checked = true;
      if (password.type === "password") {
        password.type = "text";
        checkbox.checked = true;
      } else {
        password.type = "password";
        checkbox.checked = false;
      }
    }
  }
</script>

{% endblock %}
