* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  /* border: 1px solid red; */
}
/* media devices on line ---- 785+ or new css ---- */
:root {
  --bg: white;
  --blue: #0d6efd;
  --green: #26a541;
  --red: #ff4b4b;
}
body {
  position: relative;
  min-height: 100vh;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
svg {
  width: 25px;
  height: 25px;
}
button,
a {
  border-radius: 5px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.min-height {
  min-height: 500px;
}
/* =============== Navbar =============== */
/* ===== logo ===== */
.logo {
  margin-right: 50px;
}
.logo svg {
  transform: scale(3);
}
.cls-1,
.cls-2 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}
.cls-1 {
  stroke-linecap: round;
  stroke-width: 15px;
}
.cls-2 {
  stroke-width: 10px;
}
.cls-c {
  stroke: red;
}
/* ===== logo end ===== */
.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 10%;
}
.glass {
  background-color: rgba(116, 181, 221, 0.7);
  position: sticky;
  top: 0;
  z-index: 3;
  color: black;
  backdrop-filter: blur(15px);
}
.navbar ul {
  width: 55%;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}
.navbar ul li {
  margin: 0px 10px;
}
.navbar li {
  cursor: pointer;
}
.f-left {
  display: flex;
  align-items: center;
  float: right;
}
.form-control {
  display: block;
  width: 300px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
}
.suggestions {
  position: absolute;
  width: 300px;
  height: auto;
  margin-top: 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(151, 205, 226);
}
.suggestions ul {
  display: block;
  margin: 5px 0px;
  width: 100%;
  color: black;
}
.suggestions ul li {
  padding: 5px 15px;
  margin: 5px 0px;
}
.suggestions ul li:hover {
  background-color: rgba(128, 128, 128, 0.2);
}
.navbar svg {
  width: 20px;
  height: 20px;
}
/* ==== Buttons ==== */
:is(.btn-search, .btn-cart, .btn-del) {
  padding: 5px 10px;
  margin: 5px 10px;
  background-color: transparent;
}
.btn-cart {
  color: var(--blue);
  border: 1px solid var(--blue);
  position: relative;
}
.btn-del {
  color: var(--red);
  border: 1px solid var(--red);
}
.btn-del:hover {
  color: white;
  background-color: var(--red);
  border: 1px solid var(--red);
}
.cart-count {
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: 600;
  background-color: var(--blue);
  color: white;
  border-radius: 10px;
  padding: 3px;
}
.btn-cart:hover .cart-count {
  background-color: white;
  color: var(--blue);
}
.btn-search,
.login {
  color: var(--green);
  border: 1px solid var(--green);
}
.btn-search:hover,
.login:hover {
  color: white;
  background-color: var(--green);
}
.login {
  background-color: transparent;
  padding: 10px;
  width: 100px;
}
#search {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgba(185, 214, 231, 0.7);
}
#menuitem2 .dropdown-container {
  padding: 10px;
  position: absolute;
  top: 62px;
  background-color: rgba(116, 181, 221);
  border-radius: 5px;
}
/* =============== Shop Home Section =============== */
.container {
  margin: 50px;
}
.d-flex {
  display: flex;
  align-items: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.content {
  width: 20%;
  padding: 15px;
}
.img-box {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.content h4 {
  font-size: 20px;
  margin: 10px 0px;
}
.pricebox {
  display: flex;
  flex-wrap: wrap;
}
.price1 {
  font-weight: bold;
  color: red;
  margin-right: 10px;
}
.price2 {
  margin-right: 10px;
}
.discount {
  color: #26a541;
}
.content hr {
  margin: 15px 0px;
}
.p-cart {
  background-color: rgb(255, 80, 80);
  border-radius: 5px;
  margin: 10px 5px;
  text-align: center;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.p-cart:hover {
  background-color: lightcoral;
}
.viewContainer {
  display: flex;
  justify-content: center;
}
.view {
  font-weight: bold;
  color: var(--blue);
  background-color: white;
  border: 1px solid var(--blue);
  border-radius: 5px;
  margin: 10px 20px;
  width: 200px;
  text-align: center;
  padding: 10px;
}
.view:hover,
.btn-cart:hover,
.btn-cart:hover a {
  background-color: var(--blue);
  color: white !important;
}
.offer {
  width: 100%;
  background-color: var(--red);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

/* =============== Shop page =============== */
.shoppage {
  display: flex;
}
.sidebar {
  width: 25%;
  background-color: rgb(210, 240, 255);
  padding: 20px;
}
.sidebar h4 {
  text-align: center;
  padding: 5px;
  background-color: rgb(255, 200, 50, 0.7);
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li {
  margin: 5px;
}
.sidebar ul li ul li {
  margin: 5px;
  background-color: rgb(255, 200, 50, 0.5);
}
.sidebar ul li a {
  display: block;
  padding: 5px;
}
.sidebar ul li a:hover {
  background-color: rgba(240, 128, 128, 0.5);
}
/* dropdown */
.dropdown-btn {
  display: block;
  cursor: pointer;
}
.dropdown-container {
  display: none;
  padding-left: 8px;
}
.shoppage .container {
  width: 75%;
}
.shoppage .container .d-flex {
  display: grid;
  justify-content: space-around;
  align-content: space-between;
  grid-template-columns: 300px 300px 300px;
}
.shoppage .container .d-flex .content {
  width: 300px;
}
/* =============== product info =============== */
.product-container {
  display: flex;
  padding: 50px;
}
.img-container {
  width: 40%;
}
/* ........... */
.exp {
  width: 100%;
  height: 500px;
  border: 1px solid red;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 20px;
}
/* ............... */
.img-container button {
  width: 40%;
  margin: 15px 0px;
  padding: 10px;
}
.p-detail {
  width: 60%;
  padding-left: 50px;
}
.p-detail h1 {
  color: black;
}
.p-detail h2,
.p-detail p del {
  color: rgb(170, 124, 96);
}
.p-detail h3 {
  color: #487295;
}
.p-detail p del {
  padding-right: 10px;
}
.p-detail .p-price {
  font-size: 25px;
  font-weight: 600;
}
.p-detail p:nth-child(2) {
  color: var(--green);
  margin: 5px 0px;
  font-weight: 500;
}
.p-detail ul {
  margin: 5px 0px;
  padding-left: 20px;
}
.p-detail ul li {
  margin: 5px 0px;
  list-style: var(--green);
}
.p-detail .d-flex {
  background-color: rgba(255, 200, 200, 0.5);
  padding: 10px;
  margin: 20px 0px;
}
.p-offer-section {
  margin: 15px 0px;
}
.p-offers {
  margin-right: 5px;
  font-weight: 500;
}
.p-termscondition {
  color: var(--blue);
  margin-left: 5px;
  font-weight: 500;
  cursor: pointer;
}
/* =============== footer =============== */
.footer {
  background-color: rgba(116, 181, 221, 0.5);
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0px;
}
.div33 {
  width: 20%;
}
.footer h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0px;
}
#footermenu {
  list-style: none;
  padding: 0px;
}
#footermenu li {
  text-decoration: none;
  color: black;
}
#footermenu li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(190, 64, 64);
  display: block;
  margin: auto;
  transition: 0.5s;
}
#footermenu li:hover:after {
  width: 100%;
}
.social .bi {
  margin: 15px 10px;
  cursor: pointer;
}
.bi-facebook:hover {
  color: #0d6efd;
}
.bi-twitter:hover {
  color: rgb(79, 171, 207);
}
.bi-instagram:hover {
  color: rgb(187, 32, 58);
}
.bi-youtube:hover {
  color: red;
}
#copyright {
  background-color: rgb(125, 190, 230, 0.7);
  padding: 5px 0px;
  text-align: center;
}
/* ============= User Profile page    ============ */
.profile {
  margin: 0px 25px;
}
.profile img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.userProfile {
  padding: 40px;
  background-color: var(--blue);
  display: flex;
}
.profileinfo {
  width: 400px;
}
.profileinfo table {
  width: 100%;
  margin: 10px 0px;
  border: 1px solid aliceblue;
  padding: 5px;
  border-radius: 5px;
}
table tr :is(th, td) {padding: 10px;}
.profileinfo table tr td {
  padding: 10px;
  background-color: aliceblue;
}
.userProducts {
  padding: 50px;
}
.userProducts div h1 {
  padding-bottom: 20px;
}
#add-product,
#add-address,
#edit-address {
  padding: 50px 20px;
  width: 400px;
}
.editP {
  display: flex;
  padding: 10px 0px;
  justify-content: space-around;
  position: relative;
}
.editP .dropdown-container {
  background-color: var(--bg);
  position: absolute;
  top: 0px;
}
.editP .dropdown-container ul {
  list-style: none;
  display: flex;
}
.editP .dropdown-container ul li {
  border-radius: 5px;
}
/* ============= Sign in/up & Payment ============ */
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
#signin,
#signup {
  width: 400px;
  padding: 20px 40px 60px 40px;
  display: block;
}
#signin div,
#signup div {
  margin: 15px 0px;
}
#signin span,
#signup span {
  cursor: pointer;
}
/* #signin input,
#signup input,
#signup select,
#add-product input,
#add-product select,
#edit-product input,
#edit-product select,
#add-address input,
#add-address select,
#edit-address input,
#edit-address select,
.confirmOrder select,
.pay-method input, */
input,
select {
  width: 100%;
  font-size: 16px;
  padding: 12px;
}

.input-field {
  position: relative;
  margin: 15px 0px;
}
label {
  position: absolute;
  top: 12px;
  left: 12px;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-field input:focus ~ label,
.input-field input:valid ~ label,
.input-field select:focus ~ label,
.input-field select:valid ~ label {
  font-size: 13px;
  transform: translateY(-25px);
  background-color: white;
  color: var(--blue);
  padding: 0px 5px;
}
#signin input[type="checkbox"],
#signup input[type="checkbox"] {
  float: none;
  width: auto;
  margin: 0px 10px 0px 55%;
}
#next button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 0px;
}
#submit {
  display: flex;
  justify-content: space-evenly;
}
.error {
  color: red;
  width: 100%;
  margin-top: 1px;
  font-size: 13px;
}
.msg-error {
  padding: 10px;
  background-color: rgb(255, 75, 75, 0.5);
}
.guest {
  padding: 0px 40px 20px 40px;
}
.guest p {
  margin: 5px 0px;
}
/* ============= Page Not Found ============ */
.page404 {
  height: 90vh;
}
.page404,
.page404 a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page404 h1 {
  font-size: 100px;
  text-align: center;
  color: rgb(165, 165, 165, 0.6);
  padding: 20px 0px;
}
.page404 button {
  padding: 5px 10px;
  background-color: #ff4b4b;
  border: 1px solid #ff4b4b;
  color: #fff;
  transition: all 0.5s;
}
.page404 button:hover {
  background-color: #fff;
  color: #ff4b4b;
}
/* ================== Cart ================= */
.cart {
  display: flex;
}
.noitem {
  width: 100vw;
  height: 90vh;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(165, 165, 165, 0.6);
}
.cart-items {
  width: 75%;
  text-align: center;
  overflow-x: auto;
}
.cart-mob {
  display: none;
}
/* table */
.cart-items > table {
  width: 100%;
  padding: 20px 50px;
}
th {
  height: 50px;
  font-size: 18px;
  background-color: #2687a57a;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: rgba(100, 100, 100, 0.1);
}
.cart-img {
  overflow: hidden;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  background-color: white;
}
.cart-btn {
  display: flex;
  align-items: center;
  width: 150px;
  height: 100px;
}
.cart-quantity {
  padding: 10px;
}
.cart-add,
.cart-remove {
  width: 100%;
  padding: 5px;
  margin: 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}
.cart-add {
  background-color: var(--green);
}
.cart-remove {
  background-color: var(--red);
}
/* ==== Cart Amount Section ==== */
.cart-amount {
  background-color: #f1f5fa;
  width: 25%;
  padding: 25px;
}
.cart-amount hr {
  margin: 10px 0px;
}
.cart-offer {
  display: flex;
  align-items: center;
}
.cart-offer .input-field {
  padding: 7px 0px;
  width: 100%;
}
.cart-offer .input-field input {
  border: none;
  outline: none;
  padding: 8px 15px;
  margin: 0px;
  width: 100%;
}
.c-offer-btn {
  border: none;
  border-radius: 0px;
  padding: 8px;
  width: 20%;
  background-color: gray;
  color: white;
}
.c-offer-btn:hover {
  background-color: var(--blue);
}
.amount-total {
  padding: 10px 0px;
  height: 40px;
}
.amount-total p:nth-child(1),
.amount-total h4:nth-child(1) {
  width: auto;
  float: left;
}
.amount-total p:nth-child(2),
.amount-total h4:nth-child(2) {
  width: auto;
  float: right;
}
.cart-amount .btn-cart {
  width: 100%;
  margin: 0px;
  padding: 10px;
}
/* =============== Payment ================= */
.payment {
  display: flex;
  justify-content: center;
  padding: 0px 250px;
  /* height: 90vh; */
}
.pay-method {
  width: 60%;
  padding: 100px;
  /* background-image: linear-gradient(-145deg, rgb(0, 170, 0), skyblue); */
}
.pay-method form {
  display: block;
}
.pay-btn {
  width: 100%;
  padding: 10px 20px;
  margin-top: 30px;
  color: white;
  border: var(--blue);
  background-color: var(--blue);
  font-size: 16px;
}
.pay-amount {
  width: 40%;
  padding: 100px;
  text-align: center;
  color: white;
  background-image: linear-gradient(145deg, rgb(0, 170, 0), skyblue);
}
.pay-amount > div {
  text-align: center;
  padding: 50px 0px;
  font-size: 30px;
}
.amount {
  margin-top: 20px;
}
.test {
  background-color: var(--red);
}

/* ------------ Admin page ------------ */
.sellers {
  padding: 50px;
}
.sellerac {
  padding: 20px;
}
.sellerac table :is(th, td) {
  width: 200px;
}
.sellerac table td {
  text-align: center;
  padding: 10px;
}
/* ------------ Address ------------ */
.addressSec {
  padding: 50px;
}
.address {
  padding: 20px;
  width: 400px;
  background-color: #dedede70;
  border-radius: 5px;
  margin: 10px;
}
.addressinfo {
  padding: 20px;
  display: flex;
}
/* ------------ Activate Seller ------------ */
.activateSeller {
  padding: 100px;
}
/* ------------ Confirm Order ------------ */
.confirmOrder {
  padding: 50px;
  display: grid;
  justify-content: center;
}
.confirmOrder :is(.addressinfo, .cart-amount) {
  padding: 50px;
}
.confirmOrder :is(.addressinfo, .address, .cart-items, .cart-amount) {
  width: 100%;
  border-radius: 5px;
}
.confirmOrder form {
  display: block;
}
/* ------------ Orders ------------ */
.orders {
  padding: 20px;
}
.orderitem {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #dedede70;
  margin: 5px 0px;
}
.orderitem .cart-items {
  width: 700px;
}
/* ------------ Mobile devices ------------ */
#menu {
  display: none;
}
