/* Small devices */
/* ------------ Mobile devices ------------ */
@media only screen and (max-width: 600px) {
  /* =============== Navbar =============== */
  #menu {
    display: block;
  }
  .navbar .menuitems {
    display: none;
    position: fixed;
    top: 55px;
    left: 0px;
    z-index: 5;
    padding: 30px;
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  .menuitems li {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 3px;
    background-color: rgba(128, 128, 128, 0.1);
  }
  .menuitems li a {
    display: block;
    width: 100%;
  }
  .menuitems li:hover {
    background-color: rgba(128, 128, 128, 0.15);
  }
  #menuitem2 {
    display: none;
    position: absolute;
    top: 280px;
    left: 50px;
    z-index: 5;
  }
  #menuitem2 .dropdown-container {
    padding-top: 10px;
    background-color: rgba(128, 128, 128, 0.1);
  }
  #menucart {
    display: none;
    position: absolute;
    top: 280px;
    right: 50px;
    z-index: 5;
  }
  .form-control {
    width: 170px;
  }
  /* =============== Shop Home Section =============== */
  .container {
    margin: 50px;
  }
  .shoppage .container {
    margin: 10px;
  }
  .d-flex,
  .shoppage .container .d-flex {
    display: grid;
    grid-template-columns: 200px 200px;
  }
  .shoppage .container .d-flex {
    grid-template-columns: 170px 170px;
  }
  .content,
  .shoppage .container .d-flex .content {
    width: 100%;
    padding: 10px;
  }
  .sidebar {
    padding: 10px;
  }
  .sidebar ul li ul li {
    margin: 5px 0px;
  } /* =============== product info =============== */
  .product-container {
    display: block;
    padding: 20px;
  }
  .p-detail {
    width: 100%;
    padding: 20px 5px;
  } /* =============== footer =============== */
  .footer {
    background-color: rgba(116, 181, 221, 0.5);
    display: block;
    justify-content: space-evenly;
    padding: 20px;
  }
  .div33 {
    width: 100%;
    text-align: center;
  }
  /* ================== User Profile ============== */
  .userProfile {
    display: block;
  }
  .profile {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profileinfo {
    width: 100%;
  }
  /* ================== Cart ================= */
  .cart {
    display: block;
  }
  .noitem {
    width: 100%;
    font-size: 50px;
  }
  .cart-items {
    display: none;
  }
  .cart-mob {
    display: block;
    padding: 25px;
  }
  .cart-c {
    display: flex;
    background-color: rgba(128, 128, 128, 0.1);
    margin: 5px 0px;
    padding: 5px;
  }
  .cart-c .cart-img {
    margin-right: 20px;
    width: 120px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
  }
  .cart-c div {
    width: 100%;
  }
  .cart-c .cart-btn {
    width: 150px;
    height: auto;
    text-align: center;
  }
  .cart-del {
    border: 1px solid red;
    background-color: rgb(255, 199, 199);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
  }
  /* ==== Cart Amount Section ==== */
  .cart-amount {
    width: 100%;
    padding: 50px 25px;
  }
  /* ------------ Address ------------ */
  .addressSec {
    padding: 50px 10px;
  }
  .addressSec > .address {
    width: auto;
  }
  .address {
    padding: 20px;
    margin: 10px 0px;
  }
    /* ------------ Confirm Order ------------ */
  .confirmOrder {
    padding: 50px 0px;
  }
  .confirmOrder .cart-amount {
    padding: 20px;
  }
  .confirmOrder :is(.addressinfo, .address, .cart-amount) {
    width: auto;
    margin: 20px 0px;
  }
  .confirmOrder .addressinfo .address{margin: 0px;}
  /* ------------ Orders ------------ */
  .orderitem {
    display: block;
  }
  .orderitem .cart-mob  {
    padding: 10px 0px;
  }
  /* =============== Payment ================= */
  .payment {
    display: block;
    padding: 0px;
  }
  .pay-method {
    width: 100%;
    padding: 50px 0px;
    /* background-image: linear-gradient(-145deg, rgb(0, 170, 0), skyblue); */
  }
  .pay-amount {
    width: 100%;
    text-align: center;
    color: white;
    background-image: linear-gradient(145deg, rgb(0, 170, 0), skyblue);
  }
}
