* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
  }
  :root {
    /* --bg-color: #e3edf7; */
    --bg-color: whitesmoke;
    --blue: rgba(0, 97, 215, 0.703);
    --shadow-color: rgba(128, 128, 128, 0.5);
    --footer-color: teal;
    --lightgreen: #d1e3d7;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--bg-color);
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    text-decoration: none;
  }
  h1 {
    text-align: center;
  }
  ul{
    list-style: none;
  }
  ul li {
    padding: 10px 0px;
  }
  p{font-size: 18px;}
  /* ====== Navbar ====== */
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    box-shadow: 0px 3px 10px 0px var(--shadow-color);
    z-index: 5;
  }
  .navbar span img {
    width: 250px;
  }
  .navbar ul {
    display: flex;
    justify-content: end;
    width: 60%;
  }
  .btn-nav {
    margin: 10px 5px;
    width: 100px;
  }
  .btn-nav a {
    width: 100%;
    text-align: center;
  } 
  #mainmenu{display: none;}
  /* ====== pageup ====== */
  #pageup {
    position: fixed;
    bottom: 40px;
    right: 50px;
    cursor: pointer;
    z-index: 5;
    animation: pageupHover 1s ease-out infinite;
  }
  @keyframes pageupHover {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  #pageup svg {
    width: 30px;
    height: 30px;
  }
  /* ====== hero section ====== */
  .hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
  }
  /* ==== my info ==== */
  #my-info {
    padding: 20px;
  }
  #my-name {
    font-size: 25px;
  }
  #my-name strong {
    padding-left: 10px;
    font-family: 'Courgette', cursive;
    color: teal;
  }
  #my-role {
    font-size: 40px;
  }
  #my-role strong {
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 97, 215);
  }
  #my-btn {
    margin-top: 20px;
    height: 50px;
  }
  #my-info button {
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
  }
  #my-info button:hover {
    color: blue;
    background-color: var(--bg-color);
  }
  #my-btn p {
    font-size: 16px;
  }
  .outer {
    border-radius: 50%;
    padding: 20px;
    border: 0.2px solid rgba(128, 128, 128, 0.3);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }
  :is(.inner,#my-img img){
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;}
  #my-img img {
    border-radius: 50%;
    box-shadow: 0px 3px 10px 0px var(--shadow-color);
  }
    
  /* ====== Services ======= */
  .services-c {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px;
  }
  .services-c a{
    
    padding: 20px;
  }
  .services-sec {
    text-align: center;
    width: 300px;
    min-height: 300px;
    box-shadow: 3px 3px 10px 2px var(--shadow-color);
    border-radius: 10px;
    padding: 20px;
    transition: all 0.5s;
  }
  .services-sec h1{
    /* background-color: #f3f4f6; */
    padding: 25px;
    color: var(--footer-color);
}
  .services-sec ul{
    padding: 25px;
    font-weight: 500 ;
    font-size: 18px;
    font-family: sans-serif;
}
  .services-sec ul li{
    padding: 5px 0px;
    color: #2f5f53;
}
  .services-sec:hover {
    transform: translateY(2px);
    background-color: #467f7e;
    box-shadow: 0.5px 0.5px 2px 1px var(--shadow-color);
  }
  
  .services-sec:hover :is(h1,li) {
    color: white;}
   /*===== about =====*/
  #about,
  #services, 
  .contactpage {
    padding-top: 30px;
  }
  .me {
    margin: 30px 0px;
    padding: 30px 10%;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  
  /*===== Progress bar =====*/
  .progressbar{
    padding: 20px;
  }
  .progress {
    width: 100px;
    height: 140px;
    z-index: 1;
  }
  .progress .track,
  .progress .fill {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 3;
    transform: rotate(90deg) translate(0px, -80px);
  }
  .progress .track {
    stroke: #20313e;
  }
  .progress .fill {
    stroke: teal;
    stroke-dasharray: 219.99078369140625;
    stroke-dashoffset: -219.99078369140625;
    transition: stroke-dashoffset 1s;
  }
  .progress .value {
    fill:teal;
    text-anchor: middle;
  }
  .progress .text {
    font-size: 12px;
    fill: #000000;
    /* fill: #fff; */
    text-anchor: middle;
  }
  /* =========== info ============ */
  .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
  }
  .div30{width: 350px;}
  .div30 ul li {
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 5px 0px 2px rgba(128, 128, 128, 0.5);
  }
  .div30 ul li:hover {
    color: teal;
    box-shadow: 0px 5px 0px 2px rgba(0, 128, 128, 0.5);
  }
  /* =========== layout btn-nav ============ */
  .laysec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70px;
  }
  .layout {
    background-color: var(--bg-color);
    border-radius: 5px;
    border: 0.2px solid rgba(128, 128, 128, 0.3);
    cursor: pointer;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    transform: translateY(0px);
    transition: transform 0.5s, box-shadow 0.2s;
    /* transition: all 4s; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
  }
  .layout:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.01);
    transform: translateY(2px);
  }
  .btn-x {
    margin: 10px;
    width: auto;
  }
  .layout p {
    margin: 5px 10px;
    font-size: 20px;
    transition: all 0.5s;
    /* color: rgba(51, 51, 51, 0.5); */
    color: rgba(0, 128, 128, 0.75);
  }
  .layout:nth-child(n):hover p {
    transform: scale(0.9);
    color: red;
  }
  .layout:nth-child(2n):hover p {
    transform: scale(0.9);
    color: blue;
  }
  .layout:nth-child(3n):hover p {
    transform: scale(0.9);
    color: green;
  }

  /* ====== Contact ===== */
  #my-contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10%;
  }
  #contact {
    width: 50%;
    padding: 50px;
  }
  .contact-input {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0px;
  }
  .contact-input input {
    padding: 10px 15px;
    width: 400px;
  }
  .contact-input label {
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 16px;
    color: gray;
    transition: all 0.2s;
  }
  .contact-input input:focus ~ label,
  .contact-input input:valid ~ label {
    position: absolute;
    top: 0px;
    left: 15px;
    background-color: white;
    padding: 1px 7px;
    font-size: 12px;
    color: blue;
  }
  #contact button {
    padding: 10px;
    color: gray;
    background-color: whitesmoke;
  }
  #contact button:hover {
    color: blue;
  }
  /* ====== social ====== */
  #social {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 50px 10%;
  }
  #social ul li p{
    display: inline;
    padding: 5px;
  }
  #social svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .linkedin:hover a {
    color: blue;
  }
  .whatsapp:hover a{
    color: green;
  }
  .google:hover a{
    color: rgb(250, 86, 86);
  }
  /* ====== Newsletter ====== */
  #newsletter {
    padding-top: 150px;
    text-align: center;
    position: relative;
  }
  #newsletter > div {
    width: 50%;
    position: absolute;
    left: 25%;
    top: 70px;
    background-color: var(--bg-color);
    padding: 0px 50px 30px 50px;
    border-radius: 20px;
  }
  .curve,
  .curve2 {
    width: 25%;
    height: 40px;
    background-color: var(--footer-color);
    position: absolute;
    top: 120px;
  }
  .curve {
    left: 0px;
    border-top-right-radius: 20px;
  }
  .curve2 {
    right: 0px;
    border-top-left-radius: 20px;
  }
  /* ====== Footer ===== */
  #footer {
    text-align: center;
    background-color: var(--footer-color);
    color: var(--bg-color);
    padding: 50px 0px 10px 0px;
  }
  #footer p{
    padding-top: 20px;
  }
  
  /* ================ Tablet and Mobiles ============== */
  @media screen and (max-width: 900px) {
    #newsletter > div {
      width: 70%;
      left: 15%;
      top: 50px;
      padding: 0px 15px 20px 15px;
    }
    .curve,
    .curve2 {
      width: 15%;
    }
    :is(.inner,#my-img img){
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;}
  }
  @media screen and (max-width: 500px) {
    #mainmenu{
      display: block;
      cursor: pointer;
      position: fixed;
      top: 18px;
      right: 40px;
      z-index: 11;
    }
    #mainmenuitems{
      display: none;
      background-color: var(--bg-color);
      position: fixed;
      top: 0px;
      min-width: 100vw;
      height: 100vh;
      z-index: 10;
    }
    .navbar ul {display: block; padding: 70px;}
    .navbar ul li {min-width: 100%;}
    #pageup {
      position: fixed;
      bottom: 30px;
      right: 30px;
    }
    #contact,
    #social {
      width: 100%;
    }
    #newsletter > div {
      width: 80%;
      left: 10%;
      top: 50px;
      padding: 0px 5px 10px 5px;
    }
    .curve,
    .curve2 {
      width: 10%;
    }
  }
  