{% extends 'appIndex.html' %} {% block home %}

<h2>User Tasks</h2>
<div class="container"><h3>Total Task Completed</h3> <span class="points">{{total}} TASKS</span></div>
<div class="container"><h3>To Complete Task</h3><br><p>Send a screenshot of the open app to confirm that you has indeed downloaded the app.</p></div>
<div>
    <h2>Task Completed</h2>
    {% for i in points %}
    <div class="container">
        <div class="img-box">
            {% if i.app.picapp %}
            <img src="{{i.app.picapp.url}}" alt="image of {{i.app.name}}" loading="lazy"/>
            {% else %}
            <img src="/static/appimages/No_image.png" alt="" loading="lazy"/>
            {% endif %}
        </div>
        <div>
            <div class="name">{{i.app.name}}</div>
            <a href="{% url 'appDetail' i.app.id %}">View in Details</a>
        </div>
        <div class="points">{{i.app.points}} POINTS</div>
    </div>
    {%empty%}
    <div class="container">No Task available. Go claim some Apps.</div>
    {%endfor%}
</div>

{%endblock%}